<div class="main-content">
    <div class="container-fluid">
        <app-top-dashboard></app-top-dashboard>


        <div class="row">
            

            <div class="col-md-12">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <div class="ct-chart" id="intentsPlot"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Intents BarPlot</h4>
                        <p class="card-category">
                            <span class="text-success"><i class="fa fa-info"></i> </span> Intents Probability Distribution BarPlot </p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated today
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <div class="row">
            

            <div class="col-md-12">
                <div class="card card-chart">
                    <div class="card-header card-header-warning">
                        <div class="ct-chart" id="confidencePlot"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Confidence Level</h4>
                        <p class="card-category">
                            <span class="text-success"><i class="fa fa-info"></i> </span> Confidence Level average By Week </p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated today
                        </div>
                    </div>
                </div>
            </div>
            
            
        </div>
        
        <div class="row"> 
            
            <div class="col-lg-12">
                <app-intent-tab></app-intent-tab>
            </div>
        </div>

    </div>
</div>