<div class="main-content">
    <div class="container-fluid">
        <app-top-dashboard></app-top-dashboard>
        <div class="row">
            
            <h4 class="col-12"> Global Metrics  </h4>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <div class="ct-chart" id="lengthHisto"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Conversation Length Distribution</h4>
                        <p class="card-category">
                            <span class="text-success"><i class="fa fa-info"></i> </span> Distribution of conversation length in time .</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated today
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-info">
                        <div class="ct-chart" id="errorHisto"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Error Rate Distribution</h4>
                        <p class="card-category">
                            <span class="text-success"><i class="fa fa-info"></i> </span> Distribution of error rate in percent </p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated today
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <div class="ct-chart" id="TimeHisto"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Response Time Distribution</h4>
                        <p class="card-category">
                            <span class="text-success"><i class="fa fa-info"></i> </span> Distribution of response time in milliseconds </p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated today
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="row">
            

            <div class="col-md-6">
                <div class="card card-chart">
                    <div class="card-header card-header-danger">
                        <div class="ct-chart" id="hoursBar"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Conversation Hours BarPlot </h4>
                        <p class="card-category">
                            <span class="text-success"><i class="fa fa-info"></i> </span> Number of conversations with chatbot by hour </p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated today
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card-chart">
                    <div class="card-header card-header-warning">
                        <div class="ct-chart" id="DaysBar"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Conversation Days BarPlot</h4>
                        <p class="card-category">
                            <span class="text-success"><i class="fa fa-info"></i> </span> Number of conversations with chatbot by Day </p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated today
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-chart">
                    <div class="card-header card-header-primary">
                        <div class="ct-chart" id="MonthBar"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Conversation Month BarPlot</h4>
                        <p class="card-category">
                            <span class="text-success"><i class="fa fa-info"></i> </span> Number of conversations with chatbot by month </p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated today
                        </div>
                    </div>
                </div>
            </div>



        </div>
        
        <div class="row"> 
            <h4 class="col-12"> User Reviews Metrics  </h4>
            <div class="col-md-3">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <div class="ct-chart" id="reviewsPie"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Reviews BarPlot</h4>
                        <p class="card-category">
                            <span class="text-success"><i class="fa fa-info"></i> </span> Reviews distribution from 1 to 5 </p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated today
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-chart">
                    <div class="card-header card-header-primary">
                        <div class="ct-chart" id="modePie"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Discussion Mode BarPlot</h4>
                        <p class="card-category">
                            <span class="text-success"><i class="fa fa-info"></i> </span> Discussion mode distribution </p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated today
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <app-review-tab></app-review-tab>
            </div>

        </div>

        <div class="row">
            
            <h4 class="col-12"> User Age Metrics  </h4>

            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-info">
                        <div class="ct-chart" id="AgePlot"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Age BarPlot</h4>
                        <p class="card-category">
                            <span class="text-success"><i class="fa fa-info"></i> </span> Age Distribution BarPlot </p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated today
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-warning">
                        <div class="ct-chart" id="AgeByLength"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Discussion Length By Age </h4>
                        <p class="card-category">
                            <span class="text-success"><i class="fa fa-info"></i> </span> Discussion Length By Age BarPlot </p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated today
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-danger">
                        <div class="ct-chart" id="AgeByError"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Error Rate By Age</h4>
                        <p class="card-category">
                            <span class="text-success"><i class="fa fa-info"></i> </span> Error Rate in percent per Age plot </p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated today
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <div class="ct-chart" id="AgeByReview"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Review By Age</h4>
                        <p class="card-category">
                            <span class="text-success"><i class="fa fa-info"></i> </span> Review from 1 to 5 By age plot </p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated today
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <div class="row">
            
            <h4 class="col-12"> User Gender Metrics</h4>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-info">
                        <div class="ct-chart" id="SexePlot"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Gender Distribution</h4>
                        <p class="card-category">
                            <span class="text-success"><i class="fa fa-info"></i> </span> Gender Distribution BarPlot </p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated today
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-warning">
                        <div class="ct-chart" id="SexeByLength"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Conversation Length By Gender</h4>
                        <p class="card-category">
                            <span class="text-success"><i class="fa fa-info"></i> </span> Conversation Length Average By Gender plot </p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated today
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-danger">
                        <div class="ct-chart" id="SexeByError"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Error Rate By Gender</h4>
                        <p class="card-category">
                            <span class="text-success"><i class="fa fa-info"></i> </span> Error Rate Average in percent By Gender plot</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated today
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <div class="ct-chart" id="SexeByReview"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Review By Gender</h4>
                        <p class="card-category">
                            <span class="text-success"><i class="fa fa-info"></i> </span> Review Average from 1 to 5 By Gender </p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated today
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <div class="row">
            
            <h4 class="col-12">Discussion Language Metrics</h4>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-info">
                        <div class="ct-chart" id="LanguePlot"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Discussion Language Histogram </h4>
                        <p class="card-category">
                            <span class="text-success"><i class="fa fa-info"></i> </span> Discussion language histogram barplot </p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated today
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-warning">
                        <div class="ct-chart" id="LangueByLength"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Discussion Length By Language </h4>
                        <p class="card-category">
                            <span class="text-success"><i class="fa fa-info"></i> </span> Discussion Length average by language plot </p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated today
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-danger">
                        <div class="ct-chart" id="LangueByError"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Error rate By Language </h4>
                        <p class="card-category">
                            <span class="text-success"><i class="fa fa-info"></i> </span> Error rate average by language BarPlot </p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated today
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <div class="ct-chart" id="LangueByReview"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Reviews By Language</h4>
                        <p class="card-category">
                            <span class="text-success"><i class="fa fa-info"></i> </span> Reviews average from 1 to 5 By language BarPLot </p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated today
                        </div>
                    </div>
                </div>
            </div>


        </div>



        <div class="row">
            
            <h4 class="col-md-12"> Temporal Metrics</h4>
            <div class="col-md-6">
                <div class="card card-chart">
                    <div class="card-header card-header-info">
                        <div class="ct-chart" id="countByWeek"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Number Of Discussion By Week</h4>
                        <p class="card-category">
                            <span class="text-success"><i class="fa fa-info"></i> </span> Discussion number by weeks line plot </p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated today
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card card-chart">
                    <div class="card-header card-header-rose">
                        <div class="ct-chart" id="countByMonth"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Number Of Discussion By Month</h4>
                        <p class="card-category">
                            <span class="text-success"><i class="fa fa-info"></i> </span> Discussion number by month line plot </p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated today
                        </div>
                    </div>
                </div>
            </div>

            


        </div>


        <div class="row">
            

            <div class="col-md-6">
                <div class="card card-chart">
                    <div class="card-header card-header-warning">
                        <div class="ct-chart" id="lengthByWeek"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Discussion Length By Week</h4>
                        <p class="card-category">
                            <span class="text-success"><i class="fa fa-info"></i> </span> Discussion Length By week line plot </p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated today
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <div class="ct-chart" id="lengthByMonth"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Discussion Length By Month</h4>
                        <p class="card-category">
                            <span class="text-success"><i class="fa fa-info"></i> </span> Discussion Length By month line plot </p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated today
                        </div>
                    </div>
                </div>
            </div>



        </div>
        
        <div class="row">
            

            <div class="col-md-6">
                <div class="card card-chart">
                    <div class="card-header card-header-danger">
                        <div class="ct-chart" id="errorByWeek"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Error rate By Week</h4>
                        <p class="card-category">
                            <span class="text-success"><i class="fa fa-info"></i> </span> Error rate average By week </p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated today
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card card-chart">
                    <div class="card-header card-header-primary">
                        <div class="ct-chart" id="errorByMonth"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Error rate By month</h4>
                        <p class="card-category">
                            <span class="text-success"><i class="fa fa-info"></i> </span> Error rate average By month </p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated today
                        </div>
                    </div>
                </div>
            </div>



        </div>

        <div class="row">
            

            <div class="col-md-6">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <div class="ct-chart" id="reviewByWeek"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Reviews By Week</h4>
                        <p class="card-category">
                            <span class="text-success"><i class="fa fa-info"></i> </span> Reviews average from 1 to 5 By Week </p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated today
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card card-chart">
                    <div class="card-header card-header-warning">
                        <div class="ct-chart" id="reviewByMonth"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Reviews By Month</h4>
                        <p class="card-category">
                            <span class="text-success"><i class="fa fa-info"></i> </span> Reviews average from 1 to 5 By Month </p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated 4 minutes ago
                        </div>
                    </div>
                </div>
            </div>



        </div>


    </div>
    </div>
